.App-header {
  font-family: 'Gruppo', cursive;
}

@media (max-width: 600px) {
  .navbar-brand svg{
    width: 50vw;
    height: auto;
  }
  .intro h1 {
    font-size: 7rem;
  }
}

@media screen and (max-width: 400px) {
  #filosofia {
    padding: 100px 0;
    width: 111%;
  }
  #carta,
  #soluciones,
  #otros,
  #flotilla,
  #contacto,
  #footer {
    width: 111%;
  }

  #sistemas {
    width: 110%;
  }
}

.muller-contact {
  background-color: white;
  padding: 2rem;
  color: black;
  font-size: 2rem;
}